<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <form>
      <input type="text" name="name"/>
      <input type="text" name="breed"/>
      <input type="text" name="age"/>
      <input type="submit" id="Submit"/>
    </form>
  </body>
</html>
